.popup__input-error {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
  position: relative;
  bottom: 30px;
  margin-bottom: -15px;
}

.popup__input-error:nth-last-of-type(1) {
  bottom: 48px;
  margin-bottom: -30px;
}

@media screen and (max-width: 767px) {
  .popup__input-error:nth-last-of-type(1) {
    bottom: 45px;
    margin-bottom: -30px;
  }
}